/* =========================================
   RESET
========================================= */

* {
  margin: 0;
  padding: 0;
  object-fit: cover;
  box-sizing: border-box;

}


/* =========================================
   HTML / BODY / ROOT
========================================= */

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;

  margin: 0;
  padding: 0;
}


/* =========================================
   BODY
========================================= */

body {
  background: #071426;

  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  -webkit-font-smoothing: antialiased;
}

